<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    li {
        margin-bottom: 20px;
        white-space: pre-wrap
    }
</style>

<body style="margin: 0;">
<textarea id="con" style="width: 100%; resize: none;"></textarea>
<input id="sub" type="submit">

<ul id="msgs">
    {{ list|safe }}
</ul>

{{ pages|safe }}

</body>

<script>
    const con = document.getElementById("con")
    const sub = document.getElementById("sub")
    const msgs = document.getElementById("msgs")

    sub.addEventListener("click", () => {
        const message = con.value.trim()
        if (!message) return
        sub.disabled = true
        con.value = ""
        fetch("", {
            method: "POST",
            headers: { "Content-Type": "text/plain; charset=utf-8" },
            body: message
        })
        .then(response => {
            if (response.ok) {
                const li = document.createElement("li")
                li.textContent = message
                msgs.insertBefore(li, msgs.firstChild)
            } else {
                con.value = message
                msgs.insertAdjacentHTML("afterbegin", `<li><p style="color: red;">error</p></li>`)
            }
            sub.disabled = false
        })
    })
</script>
